<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.hearushere.lib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true">

        <service
            android:name="nl.hearushere.lib.net.HttpSpiceService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCR0M3Pw4YK7w3De5sBD65i8stFeYXmCyo" />

        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
