<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.hearushere.app.main">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".HearUsHereApplication"
        android:allowBackup="true">

        <activity
            android:screenOrientation="portrait"
            android:name="nl.hearushere.app.CreditsActivity"
            android:label="@string/app_credits" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2ebbefb1b3e7c4ed81e6beaa751b9d3032fc7440" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
